.fields
  = f.hidden_field :post_id, @post.id if @post.persisted?
  = f.collection_select :post_company, :company_id, Company.all, :id, :name
  = f.hidden_field :_destroy
  %br/
  
  = link_to "remove", '#', class: "remove_fields"
